<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="img js-fullheight"
  style="background-image: url('https://i.pinimg.com/originals/c3/8a/c8/c38ac8e163d09254f86afa331da35693.jpg');">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Login</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" action="#" class="signin-form">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="email" placeholder="Email" required>
                <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                  <span *ngIf="form.get('email')?.errors!['required'] || form.get('email')?.errors!['email']"
                    class="error-text">Введіть коректний email</span>
                </span>
              </div>
              <div class="form-group">
                <input id="password-field" type="password" class="form-control" formControlName="password"
                  placeholder="Password" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                 <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                   <span *ngIf="form.get('password')?.errors!['required']"
                     class="error-text">Введіть коректний пароль</span>
                 </span>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3" [disabled]="form.invalid">Sign
                  In</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50">
                  <label class="checkbox-wrap checkbox-primary">Remember Me
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="./utils/js/jquery.min.js"></script>
  <script src="./utils/js/popper.js"></script>
  <script src="./utils/js/bootstrap.min.js"></script>
  <script src="./utils/js/main.js"></script>

</body>

</html>
